.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  justify-content: center;
  
}


 


  .Signin {
    background-color: #B3B5BB;
    color: white;
    font-size: 20px;
    padding: 10px 60px;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
  }



.header {
  background-color:  #B3B5BB;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Signup {
  color: #61dafb;
}

